<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d176f7">  <td>20/02/04 00:16:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test1()[pri:0, instance:grid.TestCases@4abdb505]">Test1</td> 
  <td>main@334203599</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>20/02/04 00:16:53</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test2()[pri:0, instance:grid.TestCases@4abdb505]">Test2</td> 
  <td>main@334203599</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>20/02/04 00:16:53</td>   <td>12</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumGrid.kill()[pri:0, instance:grid.TestCases@4abdb505]">&lt;&lt;kill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
