<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="709393">  <td>20/02/04 00:18:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test1()[pri:0, instance:grid.TestCases@29b5cd00]">Test1</td> 
  <td>TestNG-test=Test-1@1015389495</td>   <td></td> </tr>
<tr bgcolor="709393">  <td>20/02/04 00:18:41</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test2()[pri:0, instance:grid.TestCases@29b5cd00]">Test2</td> 
  <td>TestNG-test=Test-2@944619825</td>   <td></td> </tr>
<tr bgcolor="99d28e">  <td>20/02/04 00:18:47</td>   <td>6687</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumGrid.kill()[pri:0, instance:grid.TestCases@29b5cd00]">&lt;&lt;kill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@209833425</td>   <td></td> </tr>
<tr bgcolor="99d28e">  <td>20/02/04 00:18:37</td>   <td>-3909</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumGrid.setUp(java.lang.String)[pri:0, instance:grid.TestCases@29b5cd00]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@209833425</td>   <td></td> </tr>
</table>
